html, body{
	height: 100%;
}

header{
	background-color: #ffffff;
	width: 100%;
	height: 80px;
	border-bottom: 2px;
	border-top: 0;
	border-right: 0;
	border-left: 0;
	border-style: solid;
	border-color: #cccccc;
	float: left;	
}

h1,h2,h3{
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-weight: bold;	
}

h1{
	position: relative;
	left: 50px; 
	padding-top: 28px;
	color: #ffffff;
	background-color: #4aaaa5;
	width: 300px;
	height: 53px;
	text-align: center;
	font-size: xx-large;

}

h2,h3{
	color: #4aaaa5;
}

h2{
	font-size: x-large;
}

h3{
	font-size: larger;
}

body{
	font-family: 'Arial', 'Helvetica Neue', sans-serif;
	color: #777777;	
	background-image: url("../images/concrete.png");
	background-color: #777777;	
}


/* Main Content for all pages */
.page-content{
	background-color: #ffffff;
	width: 650px;
	border:1px solid #dddddd;
	padding: 1em;
	float: left;
	margin-top: 15px;
	margin-left: 50px;
	height: auto !important;	
}

.wrap{
	min-height: 100%;
	margin-bottom: -35px;
}

.wrap:after{
	content: "";
	display: block;
}

hr{
	border-color: #cccccc;
	width: 98%;	
}

.connect{
	position: absolute;
	left: 755px;
	top: 97px;
	background-color: #ffffff;
	text-align: center;	
	border:1px solid #dddddd;
	padding: 1em;
	width: 270px;
}

.conn-img{
	height: 75px;
	width: 75px;
	padding: 4px;
}


a{
	text-decoration: none;
	color: #777777;
}

.navigation{
	position: absolute;
	width: 300px;
	top: 35px;
	left: 600px;
	text-align: center;
	color: #777777;
}

li{
	display: inline-block;
	padding: 10px;
}

/* Index.html */

.aboutme{
	padding: .5em;
}

#image1{
	float: left;
}


/*  Contact Page   */

input, textarea{
	border:1px solid #dddddd;
	margin-top: 5px;
	margin-bottom: 15px;
	width: 97%;
	padding: 5px;

}

textarea{
	resize: none;
	height: 15em;
}

button{
	background-color: #4aaaa5;
	border: none;
	padding: 9px 27px;
	color: #ffffff;
}

/* Portfolio Page */

/*  div containing port-image & labelbox   */
.imagediv{
	position: relative;
	width: 290px;
	display: inline-block;
	margin: 0px 10px;
	
}

.port-image{
	height: 210px;
	width: 280px;
	margin: 20px;
	border: 1px solid #dddddd;
}

.labelbox{
	position: absolute;
	height: 40px;
	width: 280px;
	left: 21px;
	top: 140px;
	background-color: #4aaaa5;
	color: #ffffff;
	text-align: center;	
	font-size: x-large;
	padding-top: .5em;
}

/* Footer Section  */
.footer{
	border-top: 6px solid #4aaaa5;
	background-color: #666666;
	color: #ffffff;
	text-align: center;
	padding: .5em;
	margin-top: 35px;    
}


.footer, .wrap:after{
	height: 35px;
	clear: both;
}

